{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

{% if messages%}
<div class="messages">
    {% for message in messages %}
    <h4 {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</h4>
    {% endfor %}
</div>
{% endif %}

<div class="cards_personnage">
    <article class="card">
        <header>
            <h3> {{ personnage.id_personnage }} </h3>
        </header>
        <img src='{{personnage.photo}}' style="max-width: 120px; max-height: 100px; margin-bottom: 15px;" alt="L'image n'a pas pu être chargée"/>
        <p>Orientation : {{personnage.orientation}}</p>
        <p>Etat : {{ personnage.etat }}</p>
        <p>Force de combat : {{personnage.force_de_combat}} </p>
        <p>Lieu : {{ personnage.lieu }}</p>
    </article>
</div>
<p></p>

<form method="POST" class="post-form"> {% csrf_token %}
    <b> Veuiller choisir un nouvel endroit pour {{ personnage.id_personnage }} </b> 
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Valider</button>
    <a href="{% url 'personnage_list' %}" class="btn btn-secondary" role="button">Retour</a>
</form>
</div>
{% endblock %}